.stream-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 25%;
  box-shadow: 0 0 5px black;
}

.stream-icon:hover {
  cursor: pointer;
  transform: scale(0.99);
  box-shadow: 0 0 5px black inset;
}
