.footer-content {
  display: flex;
  padding: 3rem 10rem;
  gap: 10rem;
  height: var(--footerHeight);
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Orbitron", sans-serif;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 5px;
  padding: 2px 2px;
}
.options:hover {
  cursor: pointer;
  padding: 0 2px;
}
.options-arrow {
  color: var(--firstColor);
}
.options-text {
  letter-spacing: 5px;
  font-weight: bold;
  color: var(--firstColor);
  text-shadow: 0 0 5px var(--fourthColor);
}
