.title-and-year {
  display: flex;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 1.75rem;
  color: var(--fourthColor);
}

.title-and-year.mobile {
  font-size: 1.6rem;
  text-align: center;
}
