.to-watch-hidden {
  position: absolute;
  height: 0;
  overflow: hidden;
  bottom: var(--footerHeight);
}

.to-watch {
  z-index: 10000;
  position: absolute;
  left: 5%;
  top: 10%;
  height: 75%;
  width: 90%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: var(--fourthColor);
  border-radius: var(--border-radius);
  transition: ease-in 0.3s;
}
.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.grey-bg {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 68, 113, 0.9);
}

@media (max-width: 1600px) {
  .to-watch {
    height: 90%;
  }
}

@media (max-width: 990px) {
  .to-watch {
    top: 20px;
  }
}

@media (max-width: 650px) {
  .to-watch {
    width: 60%;
    left: 20%;
  }
}

@media (max-width: 550px) {
  .to-watch {
    width: 100%;
    left: 0;
  }
}
