.to-watch-hidden {
  position: absolute;
  height: 0;
  overflow: hidden;
  bottom: var(--footerHeight);
}

.to-watch {
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  bottom: calc(var(--footerHeight) + 50px);
  height: 60%;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  transition: ease-in 0.3s;
}
.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.grey-bg {
  z-index: 999;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 68, 113, 0.9);
}
