.add-movie-to-watch-list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(15, 68, 113, 0.7);
  gap: 0.5rem;
  border-radius: var(--border-radius);
  color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  padding: 10px 10px;
  font-size: 1.5rem;
  flex-wrap: nowrap;
  max-width: fit-content;
}

.add-to-watch {
  cursor: pointer;
}

.add-movie-to-watch-list-button.mobile {
  background-color: var(--firstColor);
}
