.button {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 0.7rem 1.5rem;
  width: max-content;
  color: var(--fourthColor);
  background-color: var(--secondColor);
  font-weight: bold;
  border-radius: var(--borderRadius);
  border-style: none;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 0 0 7px var(--firstColor);
}

.button:hover {
  transform: scale(0.86);
}

.button-delete {
  cursor: pointer;
}

.roll-button {
  margin-top: 1.5rem;
  font-size: 2rem;
  background-color: var(--thirdColor);
  color: var(--firstColor);
  letter-spacing: 0.5rem;
}

.roll-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.genre-button {
  background-color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  padding: 7px;
  color: var(--firstColor);
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  transition-duration: 0.3s;

  box-shadow: 3px 3px 7px var(--firstColor);
}
.genre-button:hover {
  transform: scale(0.86);
}
.genre-button-checked {
  background-color: var(--firstColor);
  color: var(--thirdColor);
}
.genre-button .clear-button {
  padding: 1px;
  font-size: 1px;
}
