.movie-results-container {
  position: relative;
  width: 100vw;
  height: 78vh;
  display: flex;
  padding: 2rem 0rem 1rem 2rem;
  flex-direction: row;
  background: linear-gradient(
    to right,
    rgb(6, 59, 106) 20rem,
    rgba(23, 104, 175, 0.92) 50%,
    rgba(200, 200, 221, 0.77) 100%
  );
}
.movie-results-container-bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: left 20rem top;
}
.movie-poster {
  display: flex;
  max-width: 400px;

  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
}
.poster-image {
  width: 400px;

  border-radius: 5px;
  box-shadow: 0 0 15px var(--firstColor);
}

.movie-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  padding: 1rem 0 0 2rem;
}
.title-year-text {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 2rem;
  color: var(--fourthColor);
}
.genres {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  padding: 0.5rem 0 0 0;
  font-size: 1rem;
  color: var(--fourthColor);
}
.overview {
  max-width: 75%;
  padding: 0 0 2rem 0;
}

.overview-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: var(--fourthColor);
}

/* .streamings {
  flex-grow: 1.5;
} */

.movie-rating {
  display: flex;
  flex-direction: row;
  height: 20px;
  margin-top: 0.5rem;
  flex-grow: 1.5;
  max-height: 3rem;
  gap: 0.75rem;
  font-family: "Open Sans", sans-serif;
  color: var(--fourthColor);
}

.ant-rate {
  color: var(--thirdColor) !important;
  font-size: 15px;
}

.ant-rate .ant-rate-star-second {
  color: var(--fourthColor);
}

.actors-slider {
  /* border: 5px solid var(--fourthColor); */
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
  margin: auto;

  margin-left: 0;
  border-radius: 10px;
  box-shadow: 0 0 30px var(--firstColor), 0 0 20px var(--firstColor) inset;
  height: 17rem;
  padding: 0.5rem 2rem;
  overflow: hidden;
  background-color: var(--secondColor);
}
.actors-slider-container {
  position: absolute;
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  gap: 0 1rem;
  transition: ease-out 0.6s;
}
.slider-arrow {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 25px;
  height: 100%;
  background-color: rgba(8, 116, 211, 0.841);
  box-shadow: 0 0 7px var(--firstColor) inset;
  color: var(--fourthColor);
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}
.slider-arrow:hover {
  background-color: rgb(8, 51, 88, 1);
}
.slider-arrow.left {
  left: 0;
}
.slider-arrow.right {
  right: 0;
}

.actor-box {
  position: relative;
  width: 12rem;
  border-radius: 5px;
  height: 16em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.3rem 0 0 0;
  box-shadow: 0 0 10px rgba(8, 116, 211, 0.841);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -0.25rem;
}
/* .actor-box::after {
  position: absolute;
  content: "";
  top: 11rem;
  overflow: hidden;
  width: 100%;

  background-color: var(--secondColor);
  bottom: -5rem;
} */
/* .actor-portrait {
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 2px 20px var(--firstColor);
  max-width: 100px;
  height: 150px;
  margin-bottom: 10px;
  
} */
.actor-name {
  background-color: var(--firstColor);
  border-radius: 0 0 5px 5px;
  padding: 5px 5px;
  width: 100%;
}
.actor-name-char {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Orbitron", sans-serif;

  letter-spacing: 3px;
  color: var(--fourthColor);
}
.actor-name-char.name {
  font-size: 0.8rem;
}

.actor-name-char.char {
  font-size: 0.7rem;

  color: rgb(195, 195, 195);
}
