.movie-results-container-wrapper {
  min-width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.movie-results-container {
  display: flex;
  min-height: 39rem;
  justify-content: space-around;
  background: linear-gradient(
    to right,
    rgb(6, 59, 106) 20rem,
    rgba(23, 104, 175, 0.92) 50%,
    rgba(200, 200, 221, 0.77) 100%
  );
}

.movie-results-container.mobile {
  flex-direction: column;
  padding: 0;
  min-width: 100%;
  background: unset;
}

.toggle-to-watch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}
