.movie-results-container-wrapper {
  flex: 1;
}

.movie-results-container {
  display: flex;
  height: max-content;
  background: linear-gradient(
    to right,
    rgb(6, 59, 106) 20rem,
    rgba(23, 104, 175, 0.92) 50%,
    rgba(200, 200, 221, 0.77) 100%
  );
}

.desktop {
  flex-direction: row;
  padding: 0 1rem;
}

.mobile {
  flex-direction: column;
  padding: 0;
}
