.movie-results-container-wrapper {
  width: 100%;
}

.movie-results-container {
  position: relative;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: row;
  background: linear-gradient(
    to right,
    rgb(6, 59, 106) 20rem,
    rgba(23, 104, 175, 0.92) 50%,
    rgba(200, 200, 221, 0.77) 100%
  );
}
.movie-results-container-bg {
  background-repeat: no-repeat;
  background-position: left 20rem top;
}

.movie-info {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 2rem;
  gap: 1.5rem;
}
.title-year-text {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 2rem;
  color: var(--fourthColor);
}

.genres {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--fourthColor);
}
.overview {
  display: flex;
  align-items: center;
}

.overview-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: var(--fourthColor);
}

.movie-rating-container {
  display: flex;
  flex-direction: row;

  font-family: "Open Sans", sans-serif;
  color: var(--fourthColor);
}
.movie-rating {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.title-and-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(15, 68, 113, 0.7);
  gap: 0.2em;
  border-radius: var(--border-radius);
  color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  padding: 10px 10px;
  font-size: 2rem;
}
.add-icon:hover {
  cursor: pointer;
  color: var(--thirdColor);
}

.ant-rate {
  color: var(--thirdColor) !important;
  font-size: 15px;
}

.ant-rate .ant-rate-star-second {
  color: var(--fourthColor);
}
