.cast-display-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3rem;
  padding: 0 0 0 1rem;
  font-family: "Open Sans", sans-serif;
}

h5 {
  color: var(--fourthColor);
  font-size: 0.75em;
  letter-spacing: 2px;
  margin: 0;
}

.cast-names {
  color: var(--fourthColor);
  letter-spacing: 2px;
}
