.filter-screen {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  background: var(--background-color);
  margin-top: 1rem;
}
.description {
  border-bottom: 2px solid var(--firstColor);
  text-align: center;
  width: 60%;
  color: var(--firstColor);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  text-shadow: 0.5px 0.5px 1.5px black;
  padding: 2rem;
}

.genres-position {
  display: flex;
  padding: 1.5rem;
  width: 45%;
  border-radius: var(--border-radius);
  box-shadow: -1px -1px 12px var(--firstColor) inset;
  justify-content: center;
}

.genres-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.genres-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 0 5px 0;
}

.genre-button {
  background-color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  padding: 7px;
  color: var(--firstColor);
  font-weight: bold;
  border-radius: var(--border-radius);
  border-style: none;
  cursor: pointer;
  transition-duration: 0.3s;

  box-shadow: 2px 2px 3px var(--firstColor);
}

.genre-button:hover {
  transform: scale(0.86);
}

.genre-button-checked {
  background-color: var(--firstColor);
  color: var(--thirdColor);
}

.genre-button.clear-button {
  color: var(--thirdColor);
}
.ant-switch {
  background-color: var(--firstColor);
  font-family: "Orbitron", sans-serif;
}

.adult-switch-checked {
  background-color: var(--thirdColor) !important;
}

.ant-switch .ant-switch-inner .ant-switch-inner-checked {
  color: black;
}

.slider-container {
  width: 45rem;
  box-shadow: -1px -1px 12px var(--firstColor) inset;
  border-radius: var(--border-radius);
  padding: 1rem 5rem;
  position: relative;
}

.ant-slider-handle::after {
  background-color: var(--firstColor) !important;
  box-shadow: 0 0 10px var(--firstColor) !important;
}

.adult-switch-spacing {
  margin: 1rem 0 0 0;
}

@media (max-width: 768px) {
  .filter-screen {
    gap: 0;
  }
  .description {
    width: 100%;
  }

  .genres-position {
    width: 100%;
    padding: 2rem;
    box-shadow: 0px -1px 4px var(--firstColor) inset;
  }

  .description {
    font-size: unset;
  }
  .genre-button {
    box-shadow: 1px 1px 2px var(--firstColor);
  }
  .slider-container {
    width: 90%;
    box-shadow: 0px -1px 4px var(--firstColor) inset;
  }
}
