.header {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--firstColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  height: 60px;
}

.header-title {
  color: var(--thirdColor);
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: Bolder;
  text-shadow: 0 0 5px hsl(0, 100%, 50%);
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}
