.navbar {
  margin-top: 0.4rem;
  min-width: 99%;
  border-radius: var(--borderRadius);
  min-height: 4rem;
  background-color: var(--firstColor);
  background-image: linear-gradient(
    0deg,
    var(--firstColor) 0%,
    var(--secondColor) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1.5rem 0.1rem var(--firstColor);
  border-bottom: none;
}

.navbar-title {
  color: var(--thirdColor);
  margin: 0 0 5px 0;
  font-size: 2rem;
  letter-spacing: 1rem;
  font-weight: Bolder;
  text-shadow: 0 0 5px hsl(0, 100%, 50%);
  font-family: "Orbitron", sans-serif;
}
