@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Orbitron&display=swap");

.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--brazzdupy);
  background-image: linear-gradient(
    180deg,
    rgba(104, 84, 84, 1) 92%,
    rgba(235, 213, 213, 1) 99%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 40px 10px #ebd5d5;
  border-bottom: none;
}

.navbar-title {
  color: #ebd5d5;
  font-size: 30px;
  letter-spacing: 20px;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
}
.filter-screen {
  margin-top: 100px;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.genres-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.genre-btn {
  background-color: white;
  font-family: "Orbitron", sans-serif;
  padding: 8px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
}
.genre-btn:hover {
  transform: scale(0.9);
}
.genre-btn-checked {
  background-color: var(--brazzdupy);
}
