@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Orbitron&display=swap");

.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--firstColor);
  background-image: linear-gradient(
    180deg,
    var(--firstColor) 92%,
    var(--secondColor) 99%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 40px 10px #ebd5d5;
  border-bottom: none;
}

.navbar-title {
  color: var(--thirdColor);
  margin: 0 0 5px 0;
  font-size: 30px;
  letter-spacing: 20px;
  font-weight: Bolder;
  text-shadow: 0 0 5px rgb(255, 0, 0);
  font-family: "Orbitron", sans-serif;
}
.filter-screen {
  margin-top: 100px;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.genres-position {
  min-width: 650px;
  max-width: 750px;
  width: 750px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: -1px -1px 12px var(--firstColor) inset;
  display: flex;
  justify-content: center;
}
.genres-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 0 5px 0;
}

.genre-btn {
  background-color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  padding: 7px;
  color: var(--firstColor);
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  transition-duration: 0.3s;

  box-shadow: 3px 3px 7px var(--firstColor);
}
.genre-btn:hover {
  transform: scale(0.86);
}
.genre-btn-checked {
  background-color: var(--firstColor);
  color: var(--thirdColor);
}

.adult-switch {
  background-color: var(--firstColor);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
}
.adult-switch-checked {
  background-color: var(--thirdColor) !important;
}

.slider {
  width: 700px;
}

.slider-container {
  width: 500px;
}
