@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

h4 {
  color: var(--firstColor);
  margin: 1rem 0;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
}

.roll-button {
  margin: 1.6rem 0;
  background-color: var(--thirdColor);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 7px;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 3px 3px 7px var(--firstColor);
}

.roll-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
