.overview {
  display: flex;
  align-items: center;
}

.overview-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: var(--fourthColor);
}

.overview.mobile {
  padding: 1rem 1rem;
  background: var(--secondColor);
  text-align: center;
}
