.movie-poster-and-info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondColor);
  padding-top: 2rem;
  gap: 2rem;
  max-width: 100vw;
}

.movie-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--secondColor);
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
