.slider-container {
  width: 45rem;
  box-shadow: -1px -1px 10px var(--firstColor) inset;
  border-radius: var(--border-radius);
  padding: 1.25rem 5rem;
  position: relative;
}
.slider-wrapper {
  margin-top: 28px;
}

@media (max-width: 768px) {
  .slider-container {
    width: 100%;
    box-shadow: none;
    border-radius: unset;
    /* border-top: 2px groove var(--secondColor); */
    /* border-bottom: 2px groove var(--secondColor); */
    background-color: var(--secondColorLight);
  }
}
