body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--thirdColor);
  background-image: linear-gradient(
    0deg,
    rgb(244, 232, 232) 0%,
    rgba(235, 213, 213, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --firstColor: rgba(104, 84, 84, 1);
  --secondColor: rgba(235, 213, 213, 1);
  --thirdColor: rgba(234, 138, 138, 1);
}
