* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  max-width: 80%;
  height: auto;
}

html {
  min-width: auto;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
}

:root {
  --firstColor: rgb(8, 51, 88);
  --secondColor: rgb(15, 68, 113);
  --thirdColor: rgb(252, 60, 60);
  --fourthColor: rgb(246, 246, 246);
  --footerHeight: 110px;
  --border-radius: 4px;
  --background: linear-gradient(
    0deg,
    var(--firstColor) 0%,
    var(--fourthColor) 15%,
    var(--fourthColor) 85%,
    var(--firstColor) 100%
  );
}
