.movie-info {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  max-width: 75rem;
}

.movie-title-and-add-button--wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
