.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 2em;
  width: 100%;
}

.button-to-watch {
  margin-top: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px;
  color: var(--fourthColor);
  background-color: var(--secondColor);
  font-weight: bold;
  border-radius: var(--border-radius);
  border-style: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.button-to-watch:hover {
  transform: scale(0.9);
}

@media (max-width: 550px) {
  .button-to-watch {
    font-size: 15px;
  }
}
